.head
{
	display:flex;
	flex-direction:column;
	width:100%;
	align-items:center;
	justify-content:center;
	height:100px;
	background-color:lime;
}
.b
{
	margin:10px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}
.dark
{
  font-size: 15px;
  font-family: cursive;
}
.quiz1
{
	display:flex;
	flex-direction:column;
	margin:10px;
}
.quiz1 .question
{
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:gray;
	
}